@import "tailwindcss";

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: start; /* Change from center if it was there */
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color:black;
}

